{% extends 'base.html' %}

{% block content %}

<table border="1">
    <tr>
        <th>loan ID</th>
        <th>bank name</th>
        <th>loan amount</th>
        <th>already payed</th>
        <th>status</th>
        <th>操作</th>
    </tr>
    <tr>
        <td>{{ loan.loanID }}</td>
        <td>{{ loan.bankName }}</td>
        <td>{{ loan.loanMoney }}</td>
        <td>{{ payed }}</td>
        <td>{{ status }}</td>
        <td>
            <a href="/loan/delete/{{ loan.loanID }}" class="button">delete</a>
        </td>
    </tr>

</table>

<form action="/api/loan/addCustomer/{{ loan.loanID }}" method="post">

    <label>关联新客户</label>
    <select name="newUser">
        {% for user in availableCus %}
        <option value="{{ user.customerID }}">{{ user.customerName }}: {{ user.customerID }}</option>
        {% endfor %}
    </select>

    <input type="submit" value="提交">
</form>
<h1>已关联用户</h1>
<table border="1">
    <tr>
        <th>customer ID</th>
        <th>customer name</th>
        <th>操作</th>
    </tr>
    {% for item in customerList %}
    <tr>
        <td>{{ item.customerID }}</td>
        <td>{{ item.customerName }}</td>
        <td>
            <input type="button" name="delete" value="取消关联" onclick="delete1( &quot;{{ loan.loanID }}&quot; , &quot;{{ item.customerID }}&quot; )"/>
        </td>
    </tr>
    {% endfor %}
</table>

<form action="/api/loan/createpay/{{ loan.loanID }}" method="post"> 
    付款金额: <input type="text" name="payMoney" value="{{ left }}"><br>
    <input type="submit" value="添加付款">
</form>

<table border="1">
    <tr>
        <th>payID</th>
        <th>pay date</th>
        <th>pay amount</th>
    </tr>
    {% for item in pays %}
        <tr>
            <td>{{ item.payID }}</td>
            <td>{{ item.payDate }}</td>
            <td>{{ item.payMoney }}</td>
        </tr>
    {% endfor %}

</table>

<script language="javascript">    
    function delete1(ID_,CustomerID_,){
    var httpRequest = new XMLHttpRequest();
    httpRequest.open('POST', '/api/loan/deleteCustomer/', true);
    httpRequest.setRequestHeader("Content-type","application/json");
    var obj = {ID: ID_, cus: CustomerID_ };
    httpRequest.send(JSON.stringify(obj));
    httpRequest.onreadystatechange = function () {//请求后的回调接口，可将请求成功后要执行的程序写在其中
        location.reload();
    };
    };
    </script>

{% endblock %}